@{
    ViewBag.Title = "Chỉnh sửa Footer";
}

<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0"><i class="fa fa-edit mr-2"></i>Chỉnh sửa Footer</h4>
                </div>
                <div class="card-body">
                    <div id="alert-success" class="alert alert-success alert-dismissible fade show" style="display:none" role="alert">
                        <i class="fa fa-check-circle mr-2"></i><span class="alert-message"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div id="alert-error" class="alert alert-danger alert-dismissible fade show" style="display:none" role="alert">
                        <i class="fa fa-exclamation-circle mr-2"></i><span class="alert-message"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="editFooterForm" autocomplete="off">
                        <input type="hidden" id="footerId" />

                        <div class="form-row mb-4">
                            <div class="col-12">
                                <h5 class="border-bottom pb-2 text-primary">Thông tin chung</h5>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fullName">Tiêu đề (VN)</label>
                                <input type="text" id="fullName" name="fullName" class="form-control" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="englishName">Tiêu đề (EN)</label>
                                <input type="text" id="englishName" name="englishName" class="form-control" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="established">Ngày thành lập</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input type="text" id="established" name="established" class="form-control" required placeholder="dd/MM/yyyy" data-toggle="tooltip" data-placement="right" title="" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-4">
                            <div class="col-12">
                                <h5 class="border-bottom pb-2 text-primary">Thông tin liên hệ</h5>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="address">Địa chỉ</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="anticon anticon-home"></i></span>
                                    </div>
                                    <input type="text" id="address" name="address" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phone">Điện thoại</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input type="text" id="phone" name="phone" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input type="email" id="email" name="email" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-4">
                            <div class="col-12">
                                <h5 class="border-bottom pb-2 text-primary">Nội dung bổ sung</h5>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="videoUrl">Video URL (có thể dán link YouTube thường hoặc link nhúng)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-video"></i></span>
                                    </div>
                                    <input type="text" id="videoUrl" name="videoUrl" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="footerCopyright">Bản quyền</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-copyright"></i></span>
                                    </div>
                                    <input type="text" id="footerCopyright" name="footerCopyright" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="footerNote">Ghi chú</label>
                                <input type="text" id="footerNote" name="footerNote" class="form-control" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12 text-right">
                                <a href="/Admin/InterfaceAdmin/Index_Footer" class="btn btn-secondary mr-2">
                                    <i class="fa fa-arrow-left mr-1"></i> Quay lại
                                </a>
                                <button type="button" id="btnDelete" class="btn btn-danger mr-2">
                                    <i class="fa fa-trash mr-1"></i> Xóa Footer
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save mr-1"></i> Lưu thay đổi
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="form-row mb-4" id="videoPreviewContainer" style="display:none">
                        <div class="col-12">
                            <h5 class="border-bottom pb-2 text-primary">Xem trước video</h5>
                            <div id="videoPreview" class="embed-responsive embed-responsive-16by9 mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/Areas/Admin/Scripts/EditFooter.js"></script>
    <script>
        $(document).ready(function () {
            // Lấy id từ query string (?id=...)
            var urlParams = new URLSearchParams(window.location.search);
            var footerId = urlParams.get('id');
            if (footerId) {
                $('#footerId').val(footerId);
                // Gọi hàm loadFooterById đã có trong EditFooter.js
                if (typeof loadFooterById === "function") {
                    loadFooterById(footerId);
                }
            }
        });
    </script>
}