
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@section scriptsAdmin {
    // Khai bao section scriptsAdmin như trong code để lấy toàn bộ thư viện Script mà không cần phải gọi lại
    // Trích đường dẫn file .js vào đây
    // Viết bằng jQuery
    // Tất cả file js tạo đều phải lưu trữ vào Areas/Admin/Scripts
}

