
<style>
    .side-nav-menu-supper .nav-item .title {
        word-wrap: break-word;
        white-space: normal;
    }
</style>

<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            
        </ul>
    </div>
</div>