<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Areas/Admin/Scripts/SliderShowScript.js"></script>
<div style="height:100px; width:100%">
    <div id="slider-container"></div>
</div>