<!-- TrangChuFooterPartial.cshtml -->

<footer class="bg-[#29A3E0] text-black text-sm py-6">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-end space-x-4">
            <div class="text-white">
                Tổng lượt truy cập: <span id="visitorTotal" class="font-semibold"></span>
            </div>
            <div class="text-white">
                Đang online: <span id="visitorOnline" class="font-semibold"></span>
            </div>
        </div>
    </div>
</footer>
<script src="~/Scripts/Scripts/TrangChuFooter.js"></script>